In [ ]:
print("Welcome to Assignment -1")

Welcome to Assignment -1

In [ ]:
Num1 = 10
Num2 = 30
Add = 40
# Add two numbers
sum = Num1 + Num2
# Display the sum
print('Num1=10 Num2=30 Add= 40'.format(Num1, Num2, sum))

Num1=10 Num2=30 Add= 40

In [ ]:
age= int(input("Enter the BMI Index : "))
if age >=30:
	status= "Healthy"
else:
	status="UnHealthy"
print("Very Overweight.")

Enter the BMI Index : 34
Very Overweight.

In [1]:
print("HOPE AI")

HOPE AI

In [10]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school = input("Enter your school name: ")
degree = input("Enter your degree: ")
print("Hi, my name is " + name + ", and I am " + age + " years old.")

Enter your name: karthik
Enter your age: 45
Enter your school name: Prince
Enter your degree: MCA
Hi, my name is karthik, and I am 45 years old.

In [11]:
a = 43
b = 34

# Adding two nos
sum = a + b

# printing values
print("Sum of", a, "and", b , "is", sum)

Sum of 43 and 34 is 77

In [12]:
a= 76
b= 31
print("Float Div: ",a//b)

Float Div:  2

In [13]:
for i in range(20):
    print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [14]:
for i in range(10, 20, 1):
    print(i, end=" ")
print()

10 11 12 13 14 15 16 17 18 19

In [15]:
elem_list = [10,20,14,55,43,87,76]
print(elem_list)
print("Number of item in the List2:", len(elem_list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7