In [ ]:
print("Welcome to Assignment -1")

Welcome to Assignment -1

In [ ]:
Num1 = 10
Num2 = 30
Add = 40
# Add two numbers
sum = Num1 + Num2
# Display the sum
print('Num1=10 Num2=30 Add= 40'.format(Num1, Num2, sum))

Num1=10 Num2=30 Add= 40

In [ ]:
age= int(input("Enter the BMI Index : "))
if age >=30:
	status= "Healthy"
else:
	status="UnHealthy"
print("Very Overweight.")

Enter the BMI Index : 34
Very Overweight.

In [ ]:
print("HOPE AI")

HOPE AI

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school = input("Enter your school name: ")
degree = input("Enter your degree: ")
print("Hi, my name is " + name + ", and I am " + age + " years old.")

Enter your name: karthik
Enter your age: 45
Enter your school name: Prince
Enter your degree: MCA
Hi, my name is karthik, and I am 45 years old.

In [ ]:
a = 43
b = 34

# Adding two nos
sum = a + b

# printing values
print("Sum of", a, "and", b , "is", sum)

In [ ]:
a= 76
b= 31
print("Float Div: ",a//b)

Float Div:  2

In [ ]:
for i in range(20):
    print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [ ]:
for i in range(10, 20, 1):
    print(i, end=" ")
print()

10 11 12 13 14 15 16 17 18 19

In [ ]:
elem_list = [10,20,14,55,43,87,76]
print(elem_list)
print("Number of item in the List2:", len(elem_list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even number".format(num))
else:
   print("{0} is Odd number".format(num))

Enter a number: 4
4 is Even number

In [3]:
gen=input("Your gender : ")

age=int(input("Your Age : "))

if(gen=="male"):
         if(age>=21):
                print("Eligible  ",age);

         else:
            print("Not Eligible ",age);
else:
     if(age>=18):
             print("Eligible  ",age);

     else:
        print("Not Eligible ",age);

Your gender : Male
Your Age : 17
Not Eligible  17

In [7]:

subject1 = input("Subject1 : ")
subject2 = input("Subject2 : ")
subject3 = input("Subject3 : ")
subject4 = input("Subject4 : ")
subject5 = input("Subject5 : ")

total, average, percentage, grade = None, None, None, None

# It will calculate the Total, Average and Percentage
total = subject_1 + subject_2 + subject_3 + subject_4 + subject_5
average = total / 5.0
percentage = (total / 500.0) * 100

if average >= 90:
    grade = 'A'
elif average >= 80 and average < 90:
    grade = 'B'
elif average >= 70 and average < 80:
    grade = 'C'
elif average >= 60 and average < 70:
    grade = 'D'
else:
    grade = 'E'

# It will produce the final output
print ("\nTotal:   \t", total, "/ 500.00")
print ("\nPercentage:    \t", percentage, "%")

Subject1 : 10
Subject2 : 20
Subject3 : 30
Subject4 : 40
Subject5 : 50

Total:   	 340.0 / 500.00

Percentage:    	 68.0 %